
<body class"body_homepage">
	<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">matrix</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    	
      <li class="@class"><a href="./index">home</a></li>
        
     <!--<li class="@class"><a href="./about">about us</a></li>-->
      
      <li class="dropdown">
      	
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
    	<tbody>
    	
      </tbody>
    </form>
    <ul class="nav navbar-form navbar-right">
    	<tbody>
    	<div class="form-group">
        <input type="text" class="form-control" placeholder="username">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="password">
      </div>
      <button type="submit" class="btn btn-default">sign in</button>
      </tbody>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
   <div class="container">
        <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
        <input type="username" class="form-control" placeholder="username" required="">
        <input type="password" class="form-control" placeholder="Password" required="">
        <label class="checkbox">
        <input type="checkbox" value="remember-me">Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
</body>